<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.8.1" />
		<httpRuntime targetFramework="4.8.1"/>
	</system.web>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="soapBinding">
					<security mode="None"/>
				</binding>
			</basicHttpBinding>
			<netNamedPipeBinding>
				<binding name="namedPipeBinding">
					<security mode="None"/>
				</binding>
			</netNamedPipeBinding>
			<webHttpBinding>
				<binding name="restBinding"/>
			</webHttpBinding>
			<netTcpBinding>
				<binding name="netTcpBinding" maxReceivedMessageSize="65536" maxBufferSize="65536" maxBufferPoolSize="524288">
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>
		<services>
			<service name="ApiDemo.Wcf.TestService">
				<!--<endpoint address="soap" binding="basicHttpBinding" bindingConfiguration="soapBinding" contract="ApiDemo.Contract.Services.ITestService"/>
				<endpoint address="" binding="netNamedPipeBinding" bindingConfiguration="namedPipeBinding" contract="ApiDemo.Contract.Services.ITestService"/>
				<endpoint address="rest" binding="webHttpBinding" bindingConfiguration="restBinding" contract="ApiDemo.Contract.Services.ITestService" behaviorConfiguration="restBehavior" />-->
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="ApiDemo.Contract.Services.ITestService" name="NetTcpEndpoint" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/TestService"/>
						<add baseAddress="net.pipe://localhost/TestService"/>
						<add baseAddress="http://localhost:8000/TestService"/>
						<add baseAddress="net.tcp://localhost:8001/TestService"/>
					</baseAddresses>
				</host>
			</service>
		</services>

		<behaviors>
			<endpointBehaviors>
				<!-- Behavior Configuration for REST -->
				<behavior name="restBehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
					<!--<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>-->
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
	</system.webServer>
</configuration>
