<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<!-- maxReceivedMessageSize, maxBufferSize = 20 * 1024 * 1024 B = 20 MB -->
				<binding name="BasicHttpBinding" maxReceivedMessageSize="20971520" maxBufferSize="20971520" sendTimeout="0:02:30" receiveTimeout="0:02:30">
					<readerQuotas maxDepth="32" maxArrayLength="20971520" maxStringContentLength="20971520" />
					<security mode="None" />
				</binding>
			</basicHttpBinding>

			<netNamedPipeBinding>
				<binding name="namedPipeBinding" maxReceivedMessageSize="65536">
					<security mode="None" />
				</binding>
			</netNamedPipeBinding>
			<!-- REST Binding (webHttpBinding) -->
			<webHttpBinding>
				<binding name="restBinding" maxReceivedMessageSize="65536">
					<security mode="None" />
				</binding>
			</webHttpBinding>
		</bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="webHttpBehavior">
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<client>
			
			<!--Comment in or out the binding to be enables/disabled-->
			
			<endpoint address="http://localhost:8000/TestService/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" contract="ApiDemo.Contract.Services.ITestService" name="BasicHttpBinding_ITestService" />
			<!--<endpoint address="net.pipe://localhost/TestService" binding="netNamedPipeBinding" bindingConfiguration="namedPipeBinding" contract="ApiDemo.Contract.Services.ITestService" name="NamedPipeBinding_ITestService" />-->
			<!--<endpoint address="http://localhost:8000/TestService/rest" binding="webHttpBinding" bindingConfiguration="restBinding" contract="ApiDemo.Contract.Services.ITestService" name="RestHttpBinding_ITestService" behaviorConfiguration="webHttpBehavior" />-->
		</client>
	</system.serviceModel>
</configuration>